<body>
  <div id="header">
    <h1>A Simple Blog</h1>
    <h2>Created with Ruby on Rails</h2>
  </div>

    <div id="nav">
      <button class="knoppie knoppie-color"><%= link_to 'Articles', controller: 'articles' %></button>
    </div>

    <div id="content">
      <h3>Quotes</h3>
      <hr>
      <br>

      <p> "Ego is the biggest enemy of humans."
          - Rig Veda
      </p>

      <p> “Religion means to know God and to love Him.”
          - A. C. Bhaktivedanta Swami Prabhupada
      </p>

      <p> “When meditation is mastered,
          The mind is unwavering like the
          Flame of a lamp in a windless place.
          In the still mind,
          In the depths of meditation,
          The Self reveals itself.
          Beholding the Self
          By means of the Self,
          An aspirant knows the
          Joy and peace of complete fulfillment.
          Having attained that
          Abiding joy beyond the senses,
          Revealed in the stilled mind,
          He never swerves from the eternal truth.”
            - Bhagavad Gita
      </p>

      <p>
        "One should eat nutritious food and exercise regularly to have sound health. Virtuous deeds performed with intelligence shall naturally bring good wealth."
          - Rig Veda
      </p>

      <p>
        "The leader who cares for his subject cannot be vanquished even if all his enemies become united."
          - Rig Veda
      </p>

      <p>
        “Those that say the kali yuga is an age of evil forget that this wonderful age is the yuga when moksha is nearest. I say to you, Bhakti, this is the most wonderful of all the ages of men!”
          - Bhagavata Purana
      </p>
  </div>
  </div>
</body>
