<body>
  <div id="header">
    <h1>Greeetings world!</h1>
    <h2>This is my first Rails app</h2>
  </div>

    <div id="nav">
      <button class="knoppie knoppie-color"><%= link_to 'Articles', controller: 'articles' %></button>
    </div>

    <div id="content">
    <h3>About InI</h3>

    <p>Plebs trying to make a rails website. but they dont know how to</p>
    
  </div>
  </div>
</body>
