// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {

 padding: 20px;
}

tbody {

}

tr { // table row
 background-color: #0406077a;
}

th { // table heading
 font-weight: bold;
 color: #a62bc89e;

}

td { // table data
 padding: 5px 10px 5px 10px;
 color: white;
}

.twidth {
 padding: 5px 10px 5px 10px;
 width: 200px;
}
