// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment_h1 {
  text-align: left;
  color: white;
 }
  
.comment_h2 {
  text-align: left;
  color: white;
  margin-top: 50px;
 }

#comment_commenter {
  border-radius: 5px;
  padding: 8px 8px 8px 5px;
  margin-top: 10px;
}

#comment_body {
  border-radius: 5px;
  width: 90%;
  height: 80px;
  padding: 8px 8px 8px 5px;
  margin-top: 10px;
}